body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(5, 8, 14);
    color: silver;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: silver;
}
h2 {
    color: silver;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 10px 0;
}
#daily-tasks {
    background-color: silver;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: black;
}
#dynamic-daily-task {
    background-color: silver;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: black;
}
#water-input {
    width: 50px;
}
#weekly-tasks {
    background-color: silver;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: black;
}
#weekly-tasks img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
#task-icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}
#task-icons img {
    width: 40px;
    height: 40px;
    margin: 5px;
}
.material-symbols-outlined {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}
#streak-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.streak-item {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: #008080;
    border-radius: 50%;
}
.streak-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}